<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">My App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <!-- Book Logo -->
         <img src="/images/book.png" alt="Logo" style="height: 50px; margin-right: 20px;">


        <a href="/">Home</a> |
        <a href="/register">Register</a> |
        <a href="/login">Login</a>
    </nav>
    <div>
        <th:block th:insert="~{::content}"></th:block>
    </div>
</body>
</html>
