<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label>First Name: <input type="text" th:field="*{firstName}"/></label><br>
        <label>Last Name: <input type="text" th:field="*{lastName}"/></label><br>
        <label>Email: <input type="email" th:field="*{email}"/></label><br>
        <label>Phone: <input type="text" th:field="*{phone}"/></label><br>
        <label>Username: <input type="text" th:field="*{username}"/></label><br>
        <label>Password: <input type="password" th:field="*{password}"/></label><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
