<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<body>
    <div layout:fragment="content">
        <form th:action="@{/register/doRegister}" th:object="${registrationModel}" method="post">
            <label>First Name:</label>
            <input type="text" th:field="*{firstName}" />
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br>
    
            <label>Last Name:</label>
            <input type="text" th:field="*{lastName}" />
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br>
    
            <label>Email:</label>
            <input type="email" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
    
            <label>Phone Number:</label>
            <input type="text" th:field="*{phoneNumber}" />
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span><br>
    
            <label>Username:</label>
            <input type="text" th:field="*{username}" />
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>
    
            <label>Password:</label>
            <input type="password" th:field="*{password}" />
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>
    
            <button type="submit">Register</button>
        </form>
    
        <p th:if="${message}" th:text="${message}"></p>
    
        <a href="/login/">Already have an account? Login here</a>
    </div>
    
</body>
    </html>
    